@charset "UTF-8";
.m-auto {
  margin: auto !important;
}

.m-top-auto {
  margin-top: auto !important;
}

.m-across-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-up-down-auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

/* … */
.p-auto {
  margin: auto !important;
}

.p-top-auto {
  padding-top: auto !important;
}

.p-across-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.p-up-down-auto {
  padding-bottom: auto !important;
  padding-top: auto !important;
}

.m-auto {
  margin: auto !important;
}

.m-bottom-auto {
  margin-bottom: auto !important;
}

.m-across-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-up-down-auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

/* … */
.p-auto {
  margin: auto !important;
}

.p-bottom-auto {
  padding-bottom: auto !important;
}

.p-across-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.p-up-down-auto {
  padding-bottom: auto !important;
  padding-top: auto !important;
}

.m-auto {
  margin: auto !important;
}

.m-left-auto {
  margin-left: auto !important;
}

.m-across-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-up-down-auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

/* … */
.p-auto {
  margin: auto !important;
}

.p-left-auto {
  padding-left: auto !important;
}

.p-across-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.p-up-down-auto {
  padding-bottom: auto !important;
  padding-top: auto !important;
}

.m-auto {
  margin: auto !important;
}

.m-right-auto {
  margin-right: auto !important;
}

.m-across-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-up-down-auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

/* … */
.p-auto {
  margin: auto !important;
}

.p-right-auto {
  padding-right: auto !important;
}

.p-across-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.p-up-down-auto {
  padding-bottom: auto !important;
  padding-top: auto !important;
}

.m-none {
  margin: 0rem !important;
}

.m-top-none {
  margin-top: 0rem !important;
}

.m-across-none {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.m-up-down-none {
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

/* … */
.p-none {
  margin: 0rem !important;
}

.p-top-none {
  padding-top: 0rem !important;
}

.p-across-none {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.p-up-down-none {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}

.m-none {
  margin: 0rem !important;
}

.m-bottom-none {
  margin-bottom: 0rem !important;
}

.m-across-none {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.m-up-down-none {
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

/* … */
.p-none {
  margin: 0rem !important;
}

.p-bottom-none {
  padding-bottom: 0rem !important;
}

.p-across-none {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.p-up-down-none {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}

.m-none {
  margin: 0rem !important;
}

.m-left-none {
  margin-left: 0rem !important;
}

.m-across-none {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.m-up-down-none {
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

/* … */
.p-none {
  margin: 0rem !important;
}

.p-left-none {
  padding-left: 0rem !important;
}

.p-across-none {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.p-up-down-none {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}

.m-none {
  margin: 0rem !important;
}

.m-right-none {
  margin-right: 0rem !important;
}

.m-across-none {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.m-up-down-none {
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

/* … */
.p-none {
  margin: 0rem !important;
}

.p-right-none {
  padding-right: 0rem !important;
}

.p-across-none {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.p-up-down-none {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}

.m-xxs {
  margin: 0.25rem !important;
}

.m-top-xxs {
  margin-top: 0.25rem !important;
}

.m-across-xxs {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.m-up-down-xxs {
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
}

/* … */
.p-xxs {
  margin: 0.25rem !important;
}

.p-top-xxs {
  padding-top: 0.25rem !important;
}

.p-across-xxs {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.p-up-down-xxs {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}

.m-xxs {
  margin: 0.25rem !important;
}

.m-bottom-xxs {
  margin-bottom: 0.25rem !important;
}

.m-across-xxs {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.m-up-down-xxs {
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
}

/* … */
.p-xxs {
  margin: 0.25rem !important;
}

.p-bottom-xxs {
  padding-bottom: 0.25rem !important;
}

.p-across-xxs {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.p-up-down-xxs {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}

.m-xxs {
  margin: 0.25rem !important;
}

.m-left-xxs {
  margin-left: 0.25rem !important;
}

.m-across-xxs {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.m-up-down-xxs {
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
}

/* … */
.p-xxs {
  margin: 0.25rem !important;
}

.p-left-xxs {
  padding-left: 0.25rem !important;
}

.p-across-xxs {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.p-up-down-xxs {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}

.m-xxs {
  margin: 0.25rem !important;
}

.m-right-xxs {
  margin-right: 0.25rem !important;
}

.m-across-xxs {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.m-up-down-xxs {
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
}

/* … */
.p-xxs {
  margin: 0.25rem !important;
}

.p-right-xxs {
  padding-right: 0.25rem !important;
}

.p-across-xxs {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.p-up-down-xxs {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}

.m-xs {
  margin: 0.5rem !important;
}

.m-top-xs {
  margin-top: 0.5rem !important;
}

.m-across-xs {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-up-down-xs {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

/* … */
.p-xs {
  margin: 0.5rem !important;
}

.p-top-xs {
  padding-top: 0.5rem !important;
}

.p-across-xs {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p-up-down-xs {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.m-xs {
  margin: 0.5rem !important;
}

.m-bottom-xs {
  margin-bottom: 0.5rem !important;
}

.m-across-xs {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-up-down-xs {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

/* … */
.p-xs {
  margin: 0.5rem !important;
}

.p-bottom-xs {
  padding-bottom: 0.5rem !important;
}

.p-across-xs {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p-up-down-xs {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.m-xs {
  margin: 0.5rem !important;
}

.m-left-xs {
  margin-left: 0.5rem !important;
}

.m-across-xs {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-up-down-xs {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

/* … */
.p-xs {
  margin: 0.5rem !important;
}

.p-left-xs {
  padding-left: 0.5rem !important;
}

.p-across-xs {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p-up-down-xs {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.m-xs {
  margin: 0.5rem !important;
}

.m-right-xs {
  margin-right: 0.5rem !important;
}

.m-across-xs {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-up-down-xs {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

/* … */
.p-xs {
  margin: 0.5rem !important;
}

.p-right-xs {
  padding-right: 0.5rem !important;
}

.p-across-xs {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p-up-down-xs {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.m-sm {
  margin: 1rem !important;
}

.m-top-sm {
  margin-top: 1rem !important;
}

.m-across-sm {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-up-down-sm {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

/* … */
.p-sm {
  margin: 1rem !important;
}

.p-top-sm {
  padding-top: 1rem !important;
}

.p-across-sm {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p-up-down-sm {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.m-sm {
  margin: 1rem !important;
}

.m-bottom-sm {
  margin-bottom: 1rem !important;
}

.m-across-sm {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-up-down-sm {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

/* … */
.p-sm {
  margin: 1rem !important;
}

.p-bottom-sm {
  padding-bottom: 1rem !important;
}

.p-across-sm {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p-up-down-sm {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.m-sm {
  margin: 1rem !important;
}

.m-left-sm {
  margin-left: 1rem !important;
}

.m-across-sm {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-up-down-sm {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

/* … */
.p-sm {
  margin: 1rem !important;
}

.p-left-sm {
  padding-left: 1rem !important;
}

.p-across-sm {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p-up-down-sm {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.m-sm {
  margin: 1rem !important;
}

.m-right-sm {
  margin-right: 1rem !important;
}

.m-across-sm {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-up-down-sm {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

/* … */
.p-sm {
  margin: 1rem !important;
}

.p-right-sm {
  padding-right: 1rem !important;
}

.p-across-sm {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p-up-down-sm {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.m-md {
  margin: 2rem !important;
}

.m-top-md {
  margin-top: 2rem !important;
}

.m-across-md {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.m-up-down-md {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

/* … */
.p-md {
  margin: 2rem !important;
}

.p-top-md {
  padding-top: 2rem !important;
}

.p-across-md {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.p-up-down-md {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.m-md {
  margin: 2rem !important;
}

.m-bottom-md {
  margin-bottom: 2rem !important;
}

.m-across-md {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.m-up-down-md {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

/* … */
.p-md {
  margin: 2rem !important;
}

.p-bottom-md {
  padding-bottom: 2rem !important;
}

.p-across-md {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.p-up-down-md {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.m-md {
  margin: 2rem !important;
}

.m-left-md {
  margin-left: 2rem !important;
}

.m-across-md {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.m-up-down-md {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

/* … */
.p-md {
  margin: 2rem !important;
}

.p-left-md {
  padding-left: 2rem !important;
}

.p-across-md {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.p-up-down-md {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.m-md {
  margin: 2rem !important;
}

.m-right-md {
  margin-right: 2rem !important;
}

.m-across-md {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.m-up-down-md {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

/* … */
.p-md {
  margin: 2rem !important;
}

.p-right-md {
  padding-right: 2rem !important;
}

.p-across-md {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.p-up-down-md {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.m-lg {
  margin: 3.5rem !important;
}

.m-top-lg {
  margin-top: 3.5rem !important;
}

.m-across-lg {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.m-up-down-lg {
  margin-bottom: 3.5rem !important;
  margin-top: 3.5rem !important;
}

/* … */
.p-lg {
  margin: 3.5rem !important;
}

.p-top-lg {
  padding-top: 3.5rem !important;
}

.p-across-lg {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.p-up-down-lg {
  padding-bottom: 3.5rem !important;
  padding-top: 3.5rem !important;
}

.m-lg {
  margin: 3.5rem !important;
}

.m-bottom-lg {
  margin-bottom: 3.5rem !important;
}

.m-across-lg {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.m-up-down-lg {
  margin-bottom: 3.5rem !important;
  margin-top: 3.5rem !important;
}

/* … */
.p-lg {
  margin: 3.5rem !important;
}

.p-bottom-lg {
  padding-bottom: 3.5rem !important;
}

.p-across-lg {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.p-up-down-lg {
  padding-bottom: 3.5rem !important;
  padding-top: 3.5rem !important;
}

.m-lg {
  margin: 3.5rem !important;
}

.m-left-lg {
  margin-left: 3.5rem !important;
}

.m-across-lg {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.m-up-down-lg {
  margin-bottom: 3.5rem !important;
  margin-top: 3.5rem !important;
}

/* … */
.p-lg {
  margin: 3.5rem !important;
}

.p-left-lg {
  padding-left: 3.5rem !important;
}

.p-across-lg {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.p-up-down-lg {
  padding-bottom: 3.5rem !important;
  padding-top: 3.5rem !important;
}

.m-lg {
  margin: 3.5rem !important;
}

.m-right-lg {
  margin-right: 3.5rem !important;
}

.m-across-lg {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.m-up-down-lg {
  margin-bottom: 3.5rem !important;
  margin-top: 3.5rem !important;
}

/* … */
.p-lg {
  margin: 3.5rem !important;
}

.p-right-lg {
  padding-right: 3.5rem !important;
}

.p-across-lg {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.p-up-down-lg {
  padding-bottom: 3.5rem !important;
  padding-top: 3.5rem !important;
}

.m-xl {
  margin: 5rem !important;
}

.m-top-xl {
  margin-top: 5rem !important;
}

.m-across-xl {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.m-up-down-xl {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}

/* … */
.p-xl {
  margin: 5rem !important;
}

.p-top-xl {
  padding-top: 5rem !important;
}

.p-across-xl {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.p-up-down-xl {
  padding-bottom: 5rem !important;
  padding-top: 5rem !important;
}

.m-xl {
  margin: 5rem !important;
}

.m-bottom-xl {
  margin-bottom: 5rem !important;
}

.m-across-xl {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.m-up-down-xl {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}

/* … */
.p-xl {
  margin: 5rem !important;
}

.p-bottom-xl {
  padding-bottom: 5rem !important;
}

.p-across-xl {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.p-up-down-xl {
  padding-bottom: 5rem !important;
  padding-top: 5rem !important;
}

.m-xl {
  margin: 5rem !important;
}

.m-left-xl {
  margin-left: 5rem !important;
}

.m-across-xl {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.m-up-down-xl {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}

/* … */
.p-xl {
  margin: 5rem !important;
}

.p-left-xl {
  padding-left: 5rem !important;
}

.p-across-xl {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.p-up-down-xl {
  padding-bottom: 5rem !important;
  padding-top: 5rem !important;
}

.m-xl {
  margin: 5rem !important;
}

.m-right-xl {
  margin-right: 5rem !important;
}

.m-across-xl {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.m-up-down-xl {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}

/* … */
.p-xl {
  margin: 5rem !important;
}

.p-right-xl {
  padding-right: 5rem !important;
}

.p-across-xl {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.p-up-down-xl {
  padding-bottom: 5rem !important;
  padding-top: 5rem !important;
}

.m-xxl {
  margin: 6rem !important;
}

.m-top-xxl {
  margin-top: 6rem !important;
}

.m-across-xxl {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.m-up-down-xxl {
  margin-bottom: 6rem !important;
  margin-top: 6rem !important;
}

/* … */
.p-xxl {
  margin: 6rem !important;
}

.p-top-xxl {
  padding-top: 6rem !important;
}

.p-across-xxl {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.p-up-down-xxl {
  padding-bottom: 6rem !important;
  padding-top: 6rem !important;
}

.m-xxl {
  margin: 6rem !important;
}

.m-bottom-xxl {
  margin-bottom: 6rem !important;
}

.m-across-xxl {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.m-up-down-xxl {
  margin-bottom: 6rem !important;
  margin-top: 6rem !important;
}

/* … */
.p-xxl {
  margin: 6rem !important;
}

.p-bottom-xxl {
  padding-bottom: 6rem !important;
}

.p-across-xxl {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.p-up-down-xxl {
  padding-bottom: 6rem !important;
  padding-top: 6rem !important;
}

.m-xxl {
  margin: 6rem !important;
}

.m-left-xxl {
  margin-left: 6rem !important;
}

.m-across-xxl {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.m-up-down-xxl {
  margin-bottom: 6rem !important;
  margin-top: 6rem !important;
}

/* … */
.p-xxl {
  margin: 6rem !important;
}

.p-left-xxl {
  padding-left: 6rem !important;
}

.p-across-xxl {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.p-up-down-xxl {
  padding-bottom: 6rem !important;
  padding-top: 6rem !important;
}

.m-xxl {
  margin: 6rem !important;
}

.m-right-xxl {
  margin-right: 6rem !important;
}

.m-across-xxl {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.m-up-down-xxl {
  margin-bottom: 6rem !important;
  margin-top: 6rem !important;
}

/* … */
.p-xxl {
  margin: 6rem !important;
}

.p-right-xxl {
  padding-right: 6rem !important;
}

.p-across-xxl {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.p-up-down-xxl {
  padding-bottom: 6rem !important;
  padding-top: 6rem !important;
}

.border-0 {
  border: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-top-0 {
  border-top: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-0 {
  border: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-bottom-0 {
  border-bottom: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-0 {
  border: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-left-0 {
  border-left: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-0 {
  border: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-right-0 {
  border-right: 0rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-1 {
  border: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-top-1 {
  border-top: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-1 {
  border: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-bottom-1 {
  border-bottom: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-1 {
  border: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-left-1 {
  border-left: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-1 {
  border: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-right-1 {
  border-right: 0.0625rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-2 {
  border: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-top-2 {
  border-top: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-2 {
  border: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-bottom-2 {
  border-bottom: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-2 {
  border: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-left-2 {
  border-left: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-2 {
  border: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-right-2 {
  border-right: 0.125rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-4 {
  border: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-top-4 {
  border-top: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-4 {
  border: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-bottom-4 {
  border-bottom: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-4 {
  border: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-left-4 {
  border-left: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-4 {
  border: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-right-4 {
  border-right: 0.25rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-8 {
  border: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-top-8 {
  border-top: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-8 {
  border: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-bottom-8 {
  border-bottom: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-8 {
  border: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-left-8 {
  border-left: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-8 {
  border: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.border-right-8 {
  border-right: 0.5rem !important;
  border-style: solid !important;
  border-color: #000000 !important;
  border-style: solid !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0rem !important;
}

.rounded-1 {
  border-radius: 0.125rem !important;
}

.rounded-2 {
  border-radius: 0.2rem !important;
}

.rounded-3 {
  border-radius: 0.3rem !important;
}

.rounded-4 {
  border-radius: 0.5rem !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main-heading {
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 4.25rem;
  line-height: 4.5rem;
}

.sub-heading {
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 2.625rem;
  line-height: 3rem;
}

/* Additional Base Stylesheets */
.main__button {
  color: #FFFFFF;
  background: #d15f01;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.3125rem;
  padding: 1.125rem 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
  color: #FFFFFF;
  background: #d15f01;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.3125rem;
  padding: 1.125rem 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
  display: block !important;
  width: 100% !important;
}
.main__button:hover {
  background: #a84d01;
  transform: translateX(0rem) translateY(-0.3125rem);
}
.main__button:active {
  background: #522500;
  transform: translateX(0rem) translateY(0.125rem);
}
.main__button:hover {
  background: #a84d01;
  transform: translateX(0rem) translateY(-0.3125rem);
}
.main__button:active {
  background: #522500;
  transform: translateX(0rem) translateY(0.125rem);
}

/* Additional Component Stylesheets *//*# sourceMappingURL=main.css.map */