/// **** COLORS VARIABLES  **** ///
// Descriptive naming
$color-gray-light: #f3f3f3;
$color-gray-dark: #494949;
$color-red: red;
$color-red-stage:#d15f01;
$color-azure:#30629e;
$color-lima:#76b524;
$color-black:#000000;
$color-white:#FFFFFF;



// Functional naming
$button-primary-color:$color-white;
$button-primary-bg-color:$color-red-stage;
$button-secondary-color:$color-white;
$button-secondary-bg-color:$color-azure;
$heading-color: $color-black;
$body-main-color: $color-gray-dark;
$border-color:$color-black;
