/// **** FONT VARIABLES **** ///

//Font family
$font-family-sans-serif: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;

//Body Font Sizes
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

//Body Line Heights
$line-height-base:            1.5;
$line-height-sm:              1.25;


//Heading Font Sizes
$h1-font-size:                4.25rem;              //  68px
$h2-font-size:                2.625rem;             //  42px
$h3-font-size:                2rem;                 //  32px
$h4-font-size:                1.625rem;             //  26px
$h5-font-size:                $font-size-base;      //  16px


//Heading Line Heights - All divisible by 8 for vertical Rhythm
$h1-line-height:                4.5rem;              //  72px
$h2-line-height:                3rem;                //  48px
$h3-line-height:                3rem;                //  48px
$h4-line-height:                3rem;                //  48px
$h5-line-height:                $line-height-base;   //  24px


//Font Weights
$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;
$font-weight-base:            $font-weight-normal;


//COLORS VARIABLES 

// Descriptive naming
$color-gray-light: #f3f3f3;
$color-gray-dark: #494949;
$color-red: red;
$color-red-stage:#d15f01;
$color-azure:#30629e;
$color-lima:#76b524;
$color-black:#000000;
$color-white:#FFFFFF;



// Functional naming
$heading-color: $color-black;
$body-color: $color-gray-dark;
$border-color:$color-black;
$button-bg-color:$color-red-stage;



//Z-INDEXES
$z-indexes: (
    sub: -1,
    none: 0,
    xxs: 1,
    xs: 10,
    sm: 50,
    md: 100,
    lg: 200,
    xl: 500,
    trump: 99999
) !default;


//SHADOWS
$shadows: (
    none: none,
    inner: "inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)",
    outline: "0 0 0 3px rgba(0, 0, 0, 0.5)",
    xs: "0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)",
    sm: "0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)",
    md: "0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)",
    lg: "0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)",
    xl: "0 25px 50px -12px rgba(0, 0, 0, 0.25)"
) !default;


//TRANSITIONS
$transitions: (
    slow: .5s,
    med: .3s,
    fast: .1s
) !default;
